.env
__pycache__/
.venv/
venv/
*.xlsx
*.xls
*.csv
*.pdf
*.docx
*.zip
*.pkl
*.joblib
*.parquet
data/
outputs/
.DS_Store
.ipynb_checkpoints/
*.pyc
*.pyo
dist/
build/
*.egg-info/

# Allow demo data
!data_sample/*.csv
!data_sample/*.db
